NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
NODE_ENV=development
NEXT_GITHUB_CLIENT_ID=github-client-here
NEXT_GITHUB_CLIENT_SECRET=github-client-secret
NEXT_GOOGLE_CLIENT_ID=github-client-here
NEXT_GOOGLE_CLIENT_SECRET=github-client-secret